body {
    padding: 10px;
}

td, th {
    vertical-align: middle !important;
    text-align: center !important;
}

svg {
    height: 25vh;
}

td:first-of-type, td:first-of-type > div {
    height: 200px;
    width: 250px;
}